<footer>
  <nav class="more-info">
    <a class="logo-container" routerLink="/">
      <div class="logo">chocolate shop</div>
      <div class="founded flex-center">
        Germany<span class="dot"></span>1820
      </div>
    </a>
    <div class="products">
      <h3>Products</h3>
      <a href="">ALL CHOCOLATES</a>
      <a href="">BALLOTINS</a>
      <a href="">CARRÉS</a>
      <a href="">HOSTING BOX</a>
      <a href="">GIFT BOXES</a>
      <a href="">GIFT CARDS</a>
    </div>
    <div class="gifts">
      <h3>Gift Occasions</h3>
      <a href="">BIRTHDAY GIFTS</a>
      <a href="">CONGRATULATIONS</a>
      <a href="">DINNER PARTY </a>
      <a href="">GIFTS FOR HER</a>
      <a href="">GIFTS FOR HIM</a>
      <a href="">MOTHER'S DAY </a>
      <a href="">THANK YOU GIFTS </a>
    </div>
    <div class="customer">
      <h3>Customer Service</h3>
      <a href="">FAQ'S</a>
      <a href="">SHIPPING & DELIVERY </a>
      <a href="">CONTACT US</a>
    </div>
  </nav>
  <nav class="terms">
    <a class="logo-container" routerLink="/">
      <div class="logo">chocolate shop</div>
    </a>
    <div class="privacy-and-terms">
      <a href="">Privacy & Cookies</a>
      <a href="">Terms & Conditions</a>
    </div>
  </nav>
</footer>
