@import "../../../styles.scss";

main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  .image {
    align-items: flex-start;
    img {
      height: 350px;
    }
  }
  .detail {
    h1 {
      font-weight: 800;
      letter-spacing: 2px;
      width: fit-content;
      text-transform: uppercase;
    }
    p:nth-of-type(1) {
      font-weight: bold;
    }
    p {
      font-size: 1.2rem;
    }

    table {
      padding: 0 2rem;
      border-collapse: collapse;
      margin: 1rem 0;
      width: 80%;
    }

    th {
      background-color: $primary-color;
      color: $complementary-color;
      font-weight: bold;
      text-align: left;
      padding: 8px;
    }

    td {
      border: 1px solid #ddd;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #ddd;
    }

    .link {
      text-decoration: none;
      color: $primary-color;
      font-weight: bold;
    }
  }
  a:hover {
    text-decoration: underline;
  }
}
