<figure class="item" *ngIf="chocolate">
  <a routerLink="/details" [queryParams]="{ id: chocolate.id }">
    <img
      src="https://images.unsplash.com/photo-1553452118-621e1f860f43?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80"
      alt=""
    />
  </a>
  <figcaption>
    <div class="name">
      {{ chocolate.name }}
    </div>
    <div class="brand">{{ chocolate.brand }}</div>
    <app-chocolate-item-price
      [prices]="chocolate.prices"
      [currency]="chocolate.currency"
    ></app-chocolate-item-price>
  </figcaption>
</figure>
